<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>element</key>
		<string>IVVBaseElement</string>
		<key>type</key>
		<string>SectionHeader</string>
		<key>fileName</key>
		<string>SectionHeader</string>
		<key>base64</key>
		<string>QUxJVlYAAQAAFMsAAAAvAAABJAAAAVMAAABMAAABowAAAAAAAAGnAAAAAAABAAAAAAABAA1TZWN0aW9uSGVhZGVyAQ8AAAYHqjL10AAAAAFc1fDxAAAAMrCYVS7/////Kox4iwAAABAFX0eEAAAABXdwrLz/////poXfuAAAABAAAAAAAAAAAAYDXNXw8f////53Js8BAAAAAXdwrLz////+AAAAAAAAAAAHBgAv/2wAAAAgxC06zgAAABBc1fDxAAAAKMF/HIQAAAABd3CsvP////7Amy42/wAAAAAAAAKrL342sJMKqQA2RS3SOPC8AAABAQAABgJc1fDx/////ndwrLz////+AAAAAAAAAAAHBQAv/2wAAAAgxC06zgAAAA5c1fDxAAAAKHdwrLz////+wJsuNv+IiIgAAAACqy9+Nsr/GrcANkUtcCy0bgAAAQEBAAAABHAstG4ACyR7c3VidGl0bGV90jjwvAAIJHt0aXRsZX3K/xq3ABIke3N1YnRpdGxlX2FjdGlvbn2wkwqpAA8ke3RpdGxlX2FjdGlvbn0AAAAA</string>
	</dict>
    <dict>
        <key>element</key>
        <string>IVVBaseElement</string>
        <key>type</key>
        <string>Card</string>
        <key>fileName</key>
        <string>Card</string>
        <key>base64</key>
        <string>QUxJVlYAAQAAGuEAAAAvAAABCAAAATcAAAA+AAABeQAAAAAAAAF9AAAAAAABAAAAAAABAARDYXJkAPwAAAICXNXw8f////53cKy8/////wAAAAAAAAAAAgdKbn2fAAAAEKoy9dAAAAAAA7eXhAAAABBc1fDx/////rCYVS7/////hofQvQAAAAx3cKy8/////wABUGr73kEAAAAAAAAAAAARA1zV8PH////+2BfPbwAAAAF3cKy8/////wABUGr73kEAAAAAAVYFP5BbOLJ/AAABAAAJCEpufZ8AAAAOAC//bAAAACADt5eEAAAADlzV8PEAAAC0sJhVLv//AACGh9C9AAAABVhIccMAAAAUd3CsvP////8AAVBq+95AgAAAAAIAAb3k6YSkuasvfjYLSm0IAAABAQEAAAADC0ptCAAPJHtjb3Zlcl9hY3Rpb259WziyfwARJHtzZWN0aW9uX2hlYWRlcn3phKS5AAwke2NvdmVyX2ltZ30AAAAA</string>
    </dict>
</array>
</plist>
